@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
:root {
   --fontPrimary: "PT Sans Narrow", sans-serif;
   --colorBlue: #1e225c;
   --colorOrange: #ec6a30;
   --colorBrown: #9e8046;
   --colorRed: #b63232;
   --colorGray: #555555;
   --colorWhiteSmoke: hsla(0, 0%, 100%, 0.5);
   --colorWhiteBlue: #337ab7;
   --colorWhiteRed: #d9534f;
}

body {
   width: 100vw;
   height: 100vh;
   font-family: var(--fontPrimary);
   font-size: 20px;
   overflow-x: hidden;
}

.slideshow-container {
   position: relative;
   width: 100vw;
   height: 40rem;
   overflow: hidden;
}

.mySlides {
   display: none;
}
.mySlides img {
   width: 100%;
   height: 100%;
}
.prev,
.next {
   cursor: pointer;
   position: absolute;
   top: 50%;
   width: auto;
   margin-top: -22px;
   padding: 16px;
   color: black;
   font-weight: normal;
   font-size: 13px;
   transition: 0.6s ease;
   border-radius: 0 3px 3px 0;
   user-select: none;
   background-color: var(--colorOrange);
}
.prev {
   left: 1%;
   border-radius: 3px 0 0 3px;
}
.next {
   right: 2%;
   border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
   color: white;
   background-color: rgb(156, 156, 23);
}

.text {
   color: #f2f2f2;
   font-size: 15px;
   padding: 8px 12px;
   position: absolute;
   font-weight: bold;
   font-size: 3rem;
   top: 11%;
   width: 100%;
   text-align: center;
   animation-name: uptext;
   animation-duration: 0.5s;
   animation-timing-function: ease-in-out;
}

.numbertext {
   color: #f2f2f2;
   font-size: 12px;
   padding: 8px 12px;
   position: absolute;
   top: 0;
}

/* Keyframe de texto para cima */
@keyframes uptext {
   from {
      top: 22%;
   }
   to {
      top: 11%;
   }
}

/* Botoes no slide show */
.float-btn {
   position: absolute;
   top: 17%;
   right: 1%;
   display: flex;
   flex-direction: column;
   align-items: end;
   gap: 1.5rem;
}
.seeMagazine,
.seeYoutube {
   position: relative;
   padding: 30px;
   background-color: var(--colorWhiteSmoke);
   border-radius: 4.5px;
}
.float-btn button {
   background-color: var(--colorOrange);
   padding: 1rem 0.5rem;
   border: none;
   border-radius: 4.5px;
}
.float-btn a button {
   color: white;
   text-decoration: none;
   font-size: 1.3rem;
   cursor: pointer;
}
.float-btn .seeMagazine button {
   background-color: var(--colorWhiteBlue);
}
.float-btn .seeYoutube span {
   position: absolute;
   top: 0;
   right: 2%;
   color: var(--colorGray);
   font-size: 1.3rem;
   cursor: pointer;
}
.float-btn .seeYoutube button {
   background-color: var(--colorWhiteRed);
}
.float-btn .seeMagazine button:hover {
   background-color: #20629b;
}
.float-btn .seeYoutube button:hover {
   background-color: #c43b37;
}

/* Conteudo abaixo do slide show (first/main) */
.slideshow-second {
   position: relative;
   margin-top: -1.6rem;
   overflow: hidden;
   background-color: var(--colorOrange);
   height: 15rem;
}
.slideshow-second .sls-text {
   position: relative;
   display: inline-block;
   padding: 1%;
   top: 9%;
   left: -9%;
   background-color: var(--colorBlue);
   transform: rotate(54deg);
}
.slideshow-second .sls-text .click-fixe {
   top: 55%;
   padding: 10%;
   width: 0%;
   display: flex;
   align-items: center;
}
.slideshow-second .sls-text .click-fixe > p {
   display: block;
   width: 100%;
   font-weight: 700;
   font-size: 0.9rem;
   transform: rotate(307deg);
   color: var(--colorOrange);
   text-transform: uppercase;
   margin-left: 10rem;
   z-index: 1;
}
.slideshow-second .sls-img figure img {
   z-index: -5;
   width: 5%;
   float: left;
   overflow: hidden;
   margin: -15vh 8vw 0 62vw;
}
.slideshow-second .sls-img figure {
   position: relative;
   width: 500%;
   margin: 0;
   left: 0;
   text-align: left;
   font-size: 0;
   animation: 30s slidy infinite;
}

@keyframes slidy {
   0% {
      left: 0%;
   }
   20% {
      left: 0%;
   }
   25% {
      left: -100%;
   }
   45% {
      left: -100%;
   }
   50% {
      left: -200%;
   }
   70% {
      left: -200%;
   }
   75% {
      left: -300%;
   }
   95% {
      left: -300%;
   }
   100% {
      left: -400%;
   }
}

/* Conteudo abaixo do second slide-show */
.contents {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.contents .titulo-port .titulos {
   margin-top: 4rem;
   text-align: center;
}
.contents .titulo-port .titulos h1:first-of-type {
   letter-spacing: 1px;
   font-size: 2.5rem;
   margin-bottom: 2%;
}
.contents .titulo-port .titulos h5:first-of-type {
   letter-spacing: 1px;
   margin-top: 4%;
}
.contents .titulo-port .titulos h5:last-of-type {
   letter-spacing: 1px;
   margin-top: 3%;
}
.contents .titulo-port .titulos hr {
   border-width: 0;
   margin: 1.45% auto;
   width: 5%;
   border: 2px solid var(--colorOrange);
}

/* Mexendo com a tabela */
.tables {
   position: relative;
   width: 80%;
   margin: 0 auto;
}
.tables table {
   border: none;
}
.tables tbody tr:nth-child(2) {
   color: green;
}
:is(table) td {
   border-bottom: 1px solid var(--colorBlue);
   padding: 1.2rem 0;
}

.tables th {
   background-color: var(--colorBlue);
   color: var(--colorOrange);
   font-size: 1.1rem;
   text-align: center;
   text-transform: uppercase;
   font-weight: 800;
   padding: 1rem;
   width: 20%;
}
.tables tbody td:nth-child(1) {
   text-align: justify;
   padding-top: 0.8rem;
   font-size: 1.1rem;
   font-weight: 600;
   color: #333;
}
.tables tbody td {
   font-weight: 600;
   text-align: center;
}
.tables tbody .trBrown {
   color: var(--colorBrown);
}
.tables tbody .trRed {
   color: var(--colorRed);
}

/* Tratando do map */
.contents .titulo-port .map-img {
   text-align: center;
}

.contents .titulo-port .map-img img {
   width: 80%;
}
.contents .titulo-port .map-img hr {
   margin: 5% auto;
   border-width: 0;
   border: 1px solid rgba(128, 128, 128, 0.349);
   width: 100%;
}
.contents.port-beira-text {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 80%;
}

.contents .pbt-titles {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.contents .pbt-titles h3 {
   color: var(--colorBlue);
   margin-bottom: 0.725rem;
}
.contents .pbt-titles p {
   line-height: 1rem;
   letter-spacing: 1px;
   color: var(--colorGray);
}
.contents .port-beira-text hr {
   margin: 1% auto;
   border-width: 0;
   border: 1px solid rgba(128, 128, 128, 0.349);
   width: 66%;
   opacity: 0.9;
}
.contents .pbt-content {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   width: 66%;
}
.contents .pbt-content > p {
   color: var(--colorGray);
}

/* Imagens da Port Beira (3) */
.contents .port-beira-content {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1%;
   margin-top: 1%;
}
.contents .container-terminal,
.generalCargo-terminal,
.beiraGrain-terminal {
   display: flex;
   justify-content: center;
   width: 15%;
   flex-direction: column;
   position: relative;
}
.contents .container-terminal {
   width: 14.81%;
   margin-top: 0.1%;
}

/* Responsavel pelo terceiro conteiner para media queries*/
/* .beiraGrain-terminal {
   margin-top: 1%;
} */

.contents .ctt-img {
   display: flex;
   align-items: center;
   gap: 2%;
   margin-top: 5%;
}
.contents .ctt-img img {
   background-color: var(--colorOrange);
   padding: 15px;
}
.contents .caption {
   text-align: justify;
}
.contents .caption h3 {
   color: var(--colorBlue);
   font-size: 1.35rem;
}
.contents .caption p {
   color: var(--colorGray);
}
.contents .port-beira-content .pbc-hr {
   margin: 7% auto;
   border-width: 0;
   border: 1px solid rgba(128, 128, 128, 0.349);
   width: 100%;
   opacity: 0.4;
}
.contents .contentsection {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100%;
}

.contents .contentsection p {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: justify;
   font-size: 1.1rem;
   color: var(--colorGray);
}
.contents .pbt-btn {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 2%;
}

/* posicionamento top dos 3 containers */
.firstBTN-pbt {
   margin-top: 98%;
}
.secondBTN-pbt {
   margin-top: 98%;
}
.thirdBTN-pbt {
   margin-top: 62%;
}

.contents .pbt-btn button {
   border: none;
   border-radius: 5px;
   padding: 12px 15px;
   text-transform: uppercase;
   color: var(--colorOrange);
   background-color: var(--colorBlue);
   cursor: pointer;
}

/* Section map (iframe) */
.maps {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 20.6rem;
   margin-top: 1%;
}
/* Responsividade */
@media (max-width: 1366px) {
   .next {
      right: 2%;
      border-radius: 3px 0 0 3px;
   }
   .float-btn {
      position: absolute;
      top: 24%;
      right: 1%;
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 1.5rem;
   }
}
