@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --fontPrimary: "PT Sans Narrow", sans-serif;
  --colorBlue: #1e225c;
  --colorOrange: #ec6a30;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: var(--fontPrimary);
  font-size: 20px;
}
/* Slide show */
.slideshowContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 40rem;
}
.slideshowContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.imageSlides {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  transition: ease-in-out 0.4s;
  z-index: -1;
}

/* add 'visible' class via Javascript */
.visible {
  opacity: 1;
}

.slideshowArrow {
  font-size: 2rem;
  padding: 0 20px 5px 20px;
  color: black;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.slideshowArrow:hover {
  color: white;
}

#leftArrow {
  position: absolute;
  left: 4%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--colorOrange);
}

#rightArrow {
  position: absolute;
  right: 4%;
  top: 50%;
  transform: translate(50%, -50%);
  background-color: var(--colorOrange);
}
#leftArrow,
#rightArrow {
  transition: 0.5s ease-in-out;
}
#leftArrow:hover,
#rightArrow:hover {
  background-color: rgba(218, 218, 19, 0.952);
}
