@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --fontPrimary: "PT Sans Narrow", sans-serif;
  --colorBlue: #1e225c;
  --colorOrange: #ec6a30;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: var(--fontPrimary);
  font-size: 20px;
  overflow-x: hidden;
}

.slideshow-container {
  position: relative;
  width: 100vw;
  height: 40rem;
  overflow: hidden;
}

.mySlides {
  display: none;
}
.mySlides img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: normal;
  font-size: 13px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: var(--colorOrange);
}
.prev {
  left: 1%;
  border-radius: 3px 0 0 3px;
}
.next {
  right: 1%;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  color: white;
  background-color: rgb(156, 156, 23);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  font-weight: bold;
  font-size: 3rem;
  top: 11%;
  width: 100%;
  text-align: center;
  animation-name: uptext;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* Keyframe de texto para cima */
@keyframes uptext {
  from {
    top: 22%;
  }
  to {
    top: 11%;
  }
}

/* Conteudo abaixo do slide-show */

.contents {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contents .titulo-port .titulos {
  margin-top: 4rem;
  text-align: center;
}
.contents .titulo-port .titulos :nth-child(1) {
  letter-spacing: 1px;
  font-size: 2.5rem;
  margin-bottom: 2%;
}
.contents .titulo-port .titulos :nth-child(2) {
  letter-spacing: 1px;
  margin-top: 4%;
}
.contents .titulo-port .titulos :nth-child(3) {
  letter-spacing: 1px;
  margin-bottom: 5%;
}
.contents .titulo-port .titulos hr {
  border-width: 0;
  margin: 1.45% auto;
  width: 5%;
  border: 2px solid var(--colorOrange);
}
.contents .titulo-port .map-img {
  text-align: center;
}

.contents .titulo-port .map-img img {
  width: 80%;
}
.contents .titulo-port .map-img hr {
  margin: 10% auto;
  border-width: 0;
  height: 1px;
  border: 1px solid gray;
  width: 80%;
}
