@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");

* {
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
   overflow: hidden;
}

/* Fim da area do header */
body {
   width: 100vw;
   height: 100vh;
   font-family: "PT Sans Narrow", sans-serif;
   font-size: 20px;
   position: relative;
}


#banner {
   background-color: #00000066;
   height: 100%;
   width: 100%;
   position: absolute;
   top: 0;
}

#banner div {
   position: relative;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
}

.heading1 {
   font-size: 40px;
   text-align: center;
   font-weight: bold;
   color: #fff;
   display: flex;
   justify-content: center;
   text-shadow: 0 1px 8px #000;
   margin-block-start: 0.67em;
   margin-block-end: 0.67em;
}

.list {
   display: flex;
   justify-content: center;
   list-style-type: none;
   margin: 0;
   font-size: 17px;
}

.list-i {
   margin: 0.3rem;
}

.list-i a {
   font-weight: 600;
   text-transform: capitalize;
   color: #fff;
   transition: all 0.2s ease-in-out;
   text-decoration: none;
   background-color: transparent;
}

.list-i {
   color: #fff;
   font-weight: 600;
}

.list li:last-child {
   text-transform: none;
   color: #ed6a1b;
   text-shadow: 0 1px 8px #000;
   font-weight: bold;
}

/* Main sec */
.main-sec{
   padding: 100px 0;
}

.parent {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 1fr);
   grid-column-gap: 0px;
   grid-row-gap: 0px;
   }
   
   .div1 { grid-area: 1 / 1 / 2 / 2; }
   .div2 { grid-area: 1 / 2 / 2 / 3; }
   .div3 { grid-area: 1 / 3 / 2 / 4; }
   .div4 { grid-area: 2 / 2 / 3 / 3; }
   .div5 { grid-area: 2 / 3 / 3 / 4; }
   .div6 { grid-area: 3 / 1 / 4 / 2; }
