/* Subheader */
:is(section).back {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 34%;
   background-image: url("https://www.cornelder.co.mz/assets/img/publications.jpg");
   background-position: center;
   background-size: cover;
}

#banner {
   background-color: #00000066;
   height: 100%;
   width: 100%;
   position: absolute;
   top: 0;
}

#banner div {
   position: relative;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
}

.heading1 {
   font-size: 40px;
   text-align: center;
   font-weight: bold;
   color: #fff;
   display: flex;
   justify-content: center;
   text-shadow: 0 1px 8px #000;
   margin-block-start: 0.67em;
   margin-block-end: 0.67em;
}

.list {
   display: flex;
   justify-content: center;
   list-style-type: none;
   margin: 0;
   font-size: 17px;
}

.list-i {
   margin: 0.3rem;
}

.list-i a {
   font-weight: 600;
   text-transform: capitalize;
   color: #fff;
   transition: all 0.2s ease-in-out;
   background-color: transparent;
}

.list-i {
   color: #fff;
   font-weight: 600;
}

.list li:last-child {
   text-transform: none;
   color: #ed6a1b;
   text-shadow: 0 1px 8px #000;
   font-weight: bold;
}
