@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --fontPrimary: "PT Sans Narrow", sans-serif;
  --colorBlue: #1e225c;
  --colorOrange: #ec6a30;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: var(--fontPrimary);
  font-size: 20px;
  position: relative;
}
header {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-end;
  background-color: white;
  font-size: 16px;
  width: 100vw;
  z-index: 1;
}

/* Trabalhando com a primeira nav-bar */
header #nav-bar {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 15%;
  width: 90%;
  height: 6rem;
}

/* Trabalhando com a imagem principal(logo) */
header .header-img {
  width: 0;
  margin: 0;
}
header .header-img a img {
  width: 280px;
}

/* Trabalho com a parte que tem o p de language e as duas imagens */
header .header-lang {
  display: flex;
  flex-direction: column;
  margin: 0 0 15px 55px;
}
header .header-lang .lang-title p {
  font-size: 12px;
  font-weight: 700;
  text-align: center;
}
/* Espacamento entre as bandeiras */
header .header-lang .header-lang-img {
  display: flex;
  gap: 10px;
}

/* Trabalhando com a barra de navegacao  superior (inicial) */
header .nav-bar {
  font-weight: 700;
  margin-bottom: 10px;
  margin-right: 2%;
}
header .nav-bar nav ul {
  display: flex;
}
header .nav-bar nav ul li {
  margin-right: 94px;
  list-style: none;
}
header .nav-bar nav ul li a {
  text-decoration: none;
  color: black;
}
/* Efeito underline */
header .nav-bar nav ul li a:focus {
  text-decoration: underline;
}

/* Segundo nav-bar (nav-bar-blue) */
header .nav-bar-blue {
  position: relative;
  display: flex;
  margin: 0;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--colorBlue);
  color: white;
  width: 100vw;
  font-weight: 700;
  height: 4rem;
}
header .nav-bar-blue nav {
  margin-left: 35%;
}
header .nav-bar-blue nav ul {
  display: flex;
}

header .nav-bar-blue nav ul li {
  cursor: pointer;
  list-style: none;
  margin: 0 0px;
  transition: ease-in 0.3s;
  padding: 16px 16px 27px 20px;
}
header .nav-bar-blue nav ul li a {
  text-decoration: none;
  transition: ease-in 0.3s;
  color: white;
}

/* Colocar o background orange dependendo da webPage */
.colorOrange {
  background-color: var(--colorOrange);
  box-shadow: 0px -4px 0px var(--colorOrange);
}
/*Hover nos links  */
header .nav-bar-blue nav ul li a:hover {
  color: var(--colorOrange);
}

header .nav-bar-blue nav ul li:hover {
  color: var(--colorOrange);
}

/* Exibicao do menu drop */
#dropdown ul {
  display: none;
  width: 11vw;
  position: absolute;
  top: 88%;
  background-color: var(--colorBlue);
  border-bottom: 2px solid var(--colorOrange);
}
#dropdown ul li {
  height: 3.3rem;
  padding: 8px;
}
#dropdown ul li > a {
  display: block;
  color: white;
  text-decoration: none;
  width: 11vw;
  padding: 10px 15px 15px 15px;
  transition: ease-out 0.1s;
}

/* Hover em todos os elementos da div dropdown */
#dropdown ul li > a:hover {
  color: black;
  background-color: var(--colorOrange);
}

/* Exibicao no about */
.about-drop ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 53%;
}
/* Exibicao no port */
.port-drop ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 57.8%;
}

/* Exibicao no port */
.traffis-drop ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 64%;
}

/* Where is javaScript?Where is javaScript?Where is javaScript?Where is javaScript?*/
header .nav-bar-blue nav ul li:hover #dropdown ul {
  display: flex;
  color: var(--colorOrange);
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-name: dropdown;
}

@keyframes dropdown {
  from {
    top: 200%;
  }
  to {
    top: 80%;
  }
}
